if SHIELD_MADTRIX_RIGHT

config ZMK_KEYBOARD_NAME
    default "Madtrix"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MADTRIX_LEFT || SHIELD_MADTRIX_RIGHT

config ZMK_SPLIT
    default y

endif
